.gm_row_header {
	float: left;
	display: table-column;  
	width: 100px; 
	color: red;
}

.gm_row_content {
	float: left; 
	display: table-row; 
	width: 100px; 
	color: green; 
}


.gm_hidden_table {
	display: table ;
	background: aqua; 
	border: black; 
}

.gm_table {
	border: black; 
}

.gm_scorecard_table {
	border: 1px solid black; 
	width: auto;
	background: white ; 
	background-color: green;
	color: white;
}


.gm_member_div {
	float: left;
    margin: 10px 5px 60px 10px;cd 
}

.gm_gal_caption_member {
	width: 180px;	
	font-size: smaller;
	margin-bottom: 10px;
}

.LeaderBoardTable {
	font-size: small;
	border: black;
}

.LeaderBoardTable td {
	border-style: solid;
	border-collapse: collapse;
	border-color: #000000; 
}

.par {
	background-color: aqua;
}

.birdie {
	background-color: green;
}
.bogey {
	background-color: yellow
}

.better {
	background-color: olive;
}

.worst {
	background-color: #ffa600;
}
#reg_players {
	float: left;
	width: 100px; 
}

#sel_rnd {
	float: left; 
	width: 150px; 
}

#sel_tnm {
	float: left;
}

