div#content div.golfscore table tbody tr td {
	text-align: center;
	padding: 2px 5px;
	border: 1px solid #fffeff;
	background-color: #f7f7f7;
}

div#content div.golfscore td.golflocationheader {
	text-align: left;
	background-color: #fefffe;
	color: #4b6167;
	font: small-caps bold 18px Georgia, "Times New Roman", Times, serif;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	padding-left: 0;
}

div#content div.golfscore tr.holerow td{
	background: lightblue;
	border: 1px solid white;
}

div#content div.golfscore tr td.scoreheader{
  background-color: #8da1b6;
	color: #fefffe;
	font-weight: bold;
	text-align: left;
}

.golfscore table{
	font: 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.playdate{
  font-size: 12px;
}

.wrap h2 {color: red !important}

